* {margin:0; padding:0; box-sizing:border-box;}
    body {font-family: Arial; background:#1f2235; color:white;}

    .container {width:90%; margin:auto;}

    .nav {display:flex; justify-content:space-between; padding:20px 0;}
    .nav a {color:white; text-decoration:none; margin:0 10px;}

    .hero {display:flex; align-items:center; justify-content:space-between; padding:50px 0;}
    .hero-text h1 {font-size:40px; margin:10px 0;}
    .hero-text p {margin:10px 0; color:#ccc;}

    .btn {background:#ff6b4a; padding:10px 20px; color:white; border:none; cursor:pointer; display:inline-block; text-decoration:none;}

    .hero img {width:250px; border-radius:10px;}

    .section {padding:50px 0;}

    .grid-2 {display:flex; gap:30px;}

    .card {background:#2c2f48; padding:20px; border-radius:10px; margin-bottom:15px;}

    .education {display:grid; grid-template-columns:repeat(2,1fr); gap:20px;}

    .contact {display:flex; gap:30px;}
    input, textarea {width:100%; padding:10px; margin:10px 0; border:none;}

    html {scroll-behavior:smooth;}

    a:hover {color:#ff6b4a;}

    @media(max-width:768px){
        .hero, .grid-2, .contact {flex-direction:column;}
        .education {grid-template-columns:1fr;}
    }

    a:link {
    color: pink;      
}

a:visited {
    color: white;     
}




.btn {
    background: #ff6b4a;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #e85c3d;
    transform: translateY(-3px);
}
h2{color: aquamarine;}

